.footer{
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-shrink: 0;

  background-color: #05396B;

  min-height: 60px;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  /* border: 2px solid red; */
  min-width: 100%;

  flex-shrink: 0;
}

.flexContainer a{
  text-decoration: none;
  color: #EDF5E1 ;
  max-width: 40px;
  max-height: 40px;
}
