.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 2px black;
}

.headerContainer h4{
  color: #05396B;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 5px 0px;
}

.listContainer{
  display: flex;
  align-items: center;
}

.listContainer li{
  list-style: none;
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #05396B;
}

.listContainer li a{
  text-decoration: none;
  color: #05396B;
}