.section{
  border-bottom: 2px solid #05396B;
  /* margin-bottom: 20px; */
}

.projectsContainer:last-child{
  margin-bottom: 70px;
}

.section h2{
  color: #05396B;
}

.projectsContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 30px;
}


.projectsContainer img{
  max-width: 500px;
  min-height: 250px;
  border: 2px solid black;
  border-radius: 10px;
}

.descriptionContainer{
  width: 500px;
}

.descriptionContainer h3 {
  font-family: "Open sans", sans-serif;
  margin-bottom: 0px;
}

.descriptionContainer p{
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 10px;
  
}

.techContainer{
 display: grid;
 grid-template-columns: repeat(4, 6rem);
 column-gap: 20px;
 row-gap: 20px;
 /* border: solid 2px red; */
}

.techContainer span{
  font-family: "Open sans", sans-serif;
  /* border: solid 2px red; */
  background-color: #05396B;
  color: #EDF5E0;
  border-radius: 7px;
  padding: 8px 12px;
  text-align: center;
}

.projectImg{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.codeLink {
  text-decoration: none;
  margin-top: 20px;
  font-size: .9rem;
  border:none;
  color:#EDF5E0;
  background-color:#05396B ;
  margin-bottom: 70px;
  border-radius: 15px;
  padding: 8px 12px;
  cursor: pointer;
}